#app-header {
    @extend %pos;
    bottom: auto;
    position: fixed;
    padding: 15px 120px;
    z-index: 1000;

    .container-fluid {
        overflow: hidden;
    }

    @media (max-width: map_get($grid-breakpoints, xl)) {
        padding: 15px;

        .container-fluid {
            overflow: visible;
        }
    }
}

.logo {
    width: 100px;
    height: 60px;

    &-item {

        &--white {
            display: none;
        }
    }
}