#portfolio-page {
    position: relative;

    .section-title {
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 100px;
        font-size: 30px;
        z-index: 2;

        @media (max-width: map_get($grid-breakpoints, md)) {
            font-size: 20px;
        }

        &__first-letter {
            font-size: 100px;
            margin-right: -30px;
        }
    }
}

.portfolio-page-content {
    position: relative;
    height: 100vh;
    max-height: 1000px;

    @media (max-width: map_get($grid-breakpoints, sm)) {
        height: 600px;
    }

    .portfolio-page-map {
        @extend %pos;
        @extend %img;
        z-index: 1;
    }
}

.portfolio-page-item {
    display: none;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 100px;
    padding: 30px 50px;
    max-width: 700px;
    background: #2d2d2d;
    text-align: right;

    @media (max-width: map_get($grid-breakpoints, sm)) {
        padding-right: 15px;
    }
    h3 {
        text-align: left;
    }
    p {
        text-align: left;
    }

    &::before {
        content: '';
        position: absolute;
        top: 35px;
        left: 15px;
        width: 25px;
        height: 35px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiPjxwYXRoIGQ9Ik0yNTYsMEMxNTMuNzU1LDAsNzAuNTczLDgzLjE4Miw3MC41NzMsMTg1LjQyNmMwLDEyNi44ODgsMTY1LjkzOSwzMTMuMTY3LDE3My4wMDQsMzIxLjAzNSAgICBjNi42MzYsNy4zOTEsMTguMjIyLDcuMzc4LDI0Ljg0NiwwYzcuMDY1LTcuODY4LDE3My4wMDQtMTk0LjE0NywxNzMuMDA0LTMyMS4wMzVDNDQxLjQyNSw4My4xODIsMzU4LjI0NCwwLDI1NiwweiBNMjU2LDI3OC43MTkgICAgYy01MS40NDIsMC05My4yOTItNDEuODUxLTkzLjI5Mi05My4yOTNTMjA0LjU1OSw5Mi4xMzQsMjU2LDkyLjEzNHM5My4yOTEsNDEuODUxLDkzLjI5MSw5My4yOTNTMzA3LjQ0MSwyNzguNzE5LDI1NiwyNzguNzE5eiIgZmlsbD0iIzdkN2Q3ZCIvPjwvc3ZnPg==);
    }
}

#close-popap {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 30px;
    font-weight: 300;
    opacity: 0.8;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none; 
    padding: 0;
    margin: 0;
    line-height: 1;
    outline: none;
    &:hover {
        opacity: 1;
    }
}