#partners {
    padding: 70px 0 60px;
    background: $secondary;
    z-index: 2;
    overflow: hidden;

    .section-title {

        &.is-focus {

            &::before {
                width: 100vw;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 2.5rem;
            left: 120px;
            width: 0;
            height: 4px;
            background: #fff;
            z-index: -4;
            transition: 2s;
        }
    }

    .slider-nav-arrow {
        position: relative;

        &-item {
            position: relative;
            top: -70px;
            z-index: 5;
            cursor: pointer;

            svg {
                opacity: .5;
                fill: #fff;
                transition: .5s;
            }

            &:hover {
                
                svg {
                    opacity: 1;
                }
            }
        }
    }
}

.partners-description {
    padding: 20px;
    border: 4px solid #fff;

    &__text {
        font-size: 18px;
    }

    &__more-info {
        position: relative;
        padding-left: 60px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 40px;
            height: 1px;
            background: #fff;
        }
    }
}

// .partners-video-modal {
//     position: fixed;
//     top: 60px;
//     left: 60px;
//     right: 60px;
//     bottom: 60px;
//     z-index: 999999;
//     display: none;

//     iframe {
//         @extend %pos;
//         width: 100%;
//         height: 100%;
//     }

//     &__close-modal {
//         position: absolute;
//         top: -30px;
//         right: -30px;
//         width: 40px;
//         height: 40px;

//         .line {
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             width: 30px;
//             height: 2px;
//             background: #fff;

//             &--left {
//                 transform: translate(-50%, -50%) rotate(45deg);
//             }
            
//             &--right {
//                 transform: translate(-50%, -50%) rotate(-45deg);
//             }
//         }
//     }
// }