.side-section {
    padding: 70px 0 0 0;

    @media (max-width: map_get($grid-breakpoints, md)) {
        padding: 90px 15px 0;
    }

    .section-title {
        position: relative;
        z-index: 10;
    }

    .slider-nav-arrow {
        width: 100%;
        max-width: 170px;

        &-item {
            padding: 15px 20px;
            background: $primary;
            transition: .5s;
            cursor: pointer;

            &--next {
                background: #313131;;
                
                svg {
                    opacity: 1; 
                }
            }

            svg {
                opacity: .4;
                fill: #fff;
                transition: .5s;
            }

            &:hover {
                
                svg {
                    opacity: 1;
                }
            }
        }
    }
}


