.side-slider {
    position: absolute;

    .flickity-page-dots {
        left: 0 !important;
        bottom: -40px;
        width: auto !important;

        li {
            width: 15px;
            height: 15px;
            border-radius: 0;
            border: 3px solid;
            background: $dark !important;
            margin: 0 20px !important;
            opacity: 1 !important;
            transition: .5s;

            @media (max-width: map_get($grid-breakpoints, md)) {
                display: none;
            }

            &.is-selected {
                margin: 0 100px !important;
                background: #fff !important;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            background: $dark;
            height: 3px;
            z-index: -3;
        }
    }

    &-item {
        @extend %pos;
        z-index: -100;
        width: 100%;
        height: 550px;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            height: 250px;
        }

        &-img {
            @extend %pos;
            @extend %img;
        }
    }
}

.slider-nav-num {
    position: relative;
    display: flex;
    top: 15px;
    left: -60px;

    @media (max-width: map_get($grid-breakpoints, xl)) {
        display: none;
    }

    &-item {
        position: relative;
        padding: 10px 5px 0;
        font-size: 60px;
        color: #fff;
        opacity: .5;
        transition: .5s;
        font-weight: 700;
        pointer-events: none;
        user-select: none;

        &.active {
            padding: 0 25px;
            opacity: 1;
            font-size: 110px;
            line-height: 1.2;

            &::after {
                transform: scale(0);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 5px;
            background: #fff;
            transition: .5s;
        }

        &::before {
            content: '0';
        }
    }
}

.partners-slider {
    margin-top: 60px;

    &-item {
        width: 10%;
        height: 70px;
        margin: 0 4%;


        @media (max-width: map_get($grid-breakpoints, sm)) {
            width: 45%;
        }

        &-img {
            position: relative;
            padding-bottom: 20px;

            &::before {
                content: '';
                @extend %pos;
                top: auto;
                left: 0;
                right: 100%;
                height: 4px;
                background: #fff;
                transition: .5s;
            }

            &:hover {

                &::before {
                    right: 0;
                }
            }
        }
    }
}


.partners-video-slider {

    &-item {
        width: 100%;
        padding-top: 450px;
        cursor: pointer;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            left: 0;
            margin-top: 40px;
            padding-top: 350px;
        }

        &-img {
            @extend %pos;
            @extend %img;
            z-index: -3;
        }
    
        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            svg {
                fill: #c00;
            }
        }
    }
}